

*, *:before, *:after {
    box-sizing: border-box;
}

body{
    font-family: "Roboto", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: #ef476f;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Oswald", 'Times New Roman', Times, serif;
}

.center {
    text-align: center;
}

.image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 1.5rem auto;
}

.list > li{
    margin: 1.5rem;
}
